Case_RT_Flow_Email_Case_Classification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Classify_Intent_of_Email</name>
        <label>Classify Intent of Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Gate0_Email_Classification</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Get_Pending_Triage_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Gate0_Email_Classification</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Ambiguous_Comment_Text</name>
        <label>Set Ambiguous Comment Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>commentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Ambiguous_CaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_for_Triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_General_Comment_Text</name>
        <label>Set General Comment Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>commentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_General_CaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_for_Triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Noise_Comment_Text</name>
        <label>Set Noise Comment Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>commentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Noise_CaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_for_Triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SO_Comment_Text</name>
        <label>Set SO Comment Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>commentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_SO_CaseComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_for_Triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Case_Comment</name>
        <label>Stage Case Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseComment.CommentBodyRichtext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>commentBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseComment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_classification</name>
        <label>What is the classification?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_General_Comment_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Order_class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Classify_Intent_of_Email.structuredResponse.classification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SO_Comment_Text</targetReference>
            </connector>
            <label>Sales Order class</label>
        </rules>
        <rules>
            <name>Noise_class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Classify_Intent_of_Email.structuredResponse.classification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Noise_Comment_Text</targetReference>
            </connector>
            <label>Noise class</label>
        </rules>
        <rules>
            <name>Ambiguous_class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Classify_Intent_of_Email.structuredResponse.classification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambiguous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ambiguous_Comment_Text</targetReference>
            </connector>
            <label>Ambiguous class</label>
        </rules>
    </decisions>
    <description>For new inbound email cases, run a prompt to classify the case and route to triage queue for human review.</description>
    <environments>Default</environments>
    <interviewLabel>Case RT Flow - Email Case Classification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case RT Flow - Email Case Classification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>caseComment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Pending_Triage_Queue</name>
        <label>Get Pending Triage Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_classification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending_Triage_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_for_Triage</name>
        <label>Update Case for Triage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Case_Comment</targetReference>
        </connector>
        <inputAssignments>
            <field>Classification_Confidence__c</field>
            <value>
                <elementReference>Classify_Intent_of_Email.structuredResponse.confidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification_Rationale__c</field>
            <value>
                <elementReference>Classify_Intent_of_Email.structuredResponse.rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification_Result__c</field>
            <value>
                <elementReference>Classify_Intent_of_Email.structuredResponse.classification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification_Signals__c</field>
            <value>
                <elementReference>Classify_Intent_of_Email.structuredResponse.signalsUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Sub_Type__c</field>
            <value>
                <elementReference>Classify_Intent_of_Email.structuredResponse.recommendedSubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triage_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Classify_Intent_of_Email.structuredResponse.recommendedType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Classify_Intent_of_Email</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Ambiguous_CaseComment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[Gate 0] Classified as &lt;strong&gt;Ambiguous&lt;/strong&gt; — signals conflict or attachment missing. Requires human review to determine correct routing. {!Classify_Intent_of_Email.structuredResponse.rationale}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_General_CaseComment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[Gate 0] Classified as &lt;strong&gt;General&lt;/strong&gt; inquiry — pending triage review. {!Classify_Intent_of_Email.structuredResponse.rationale}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Noise_CaseComment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[Gate 0] Classified as &lt;strong&gt;Noise&lt;/strong&gt; — pending triage review to confirm closure. {!Classify_Intent_of_Email.structuredResponse.rationale}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_SO_CaseComment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[Gate 0] Classified as &lt;strong&gt;Sales Order&lt;/strong&gt; — pending triage review before routing. {!Classify_Intent_of_Email.structuredResponse.rationale}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>commentBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
