flows/Case_Gate0_Find_Email_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Content_Doc_info</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Content Doc info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>File Title: {!Extract_Title.Title}
File Type: {!Extract_Title.FileType}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_tcContentDocIds</name>
        <label>Add to tcContentDocIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tcContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curDocLink.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Doc_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_info_to_prompt</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Send info to prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sender&apos;s email address: {!fromEmailAddress}
Recipient email address:{!toEmailAddress}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_curDocLink</name>
        <label>Set curDocLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>curDocLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Doc_Links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_tcContentDocIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_docs</name>
        <label>Are there any docs?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No docs</defaultConnectorLabel>
        <rules>
            <name>Yes_docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcContentDocLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Doc_Links</targetReference>
            </connector>
            <label>Yes docs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Gate0 - Find Email Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Gate0 - Find Email Information</label>
    <loops>
        <name>Extract_Title</name>
        <label>Extract Title</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcContentDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Content_Doc_info</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Doc_Links</name>
        <label>Loop Doc Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcContentDocLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_curDocLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Attachments</name>
        <label>Get Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_info_to_prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailMessageId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>rcContentDocLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Docs</name>
        <label>Get Content Docs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>tcContentDocIds</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>rcContentDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>FileType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Inbound_Email</name>
        <label>Get First Inbound Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>emailMessageId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fromEmailAddress</assignToReference>
            <field>FromAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>toEmailAddress</assignToReference>
            <field>ToAddress</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_Inbound_Email</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>The Id of the inbound EmailMessage that created this case.</description>
        <name>emailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>The email address of the sender.</description>
        <name>fromEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>rcContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <description>The Case record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The inbox to which the email was sent.</description>
        <name>toEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
