flows/Case_Check_Attachment_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_No_Attachments</name>
        <label>Set No Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasAttachments</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasPDFs</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasUnreadableFiles</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attachmentSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No attachments found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_curDocLink</name>
        <label>Set curDocLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>curDocLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Doc_Links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_tcContentDocIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_tcContentDocIds</name>
        <label>Add to tcContentDocIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tcContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curDocLink.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Doc_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_PDF</name>
        <label>Set Has PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasPDFs</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pdfCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tcAllPdfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Classify_File_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstPdfId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Classify_File_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Classify_File_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Unreadable</name>
        <label>Set Has Unreadable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasUnreadableFiles</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unreadableCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unreadableFileList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curUnreadableEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Classify_File_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_File</name>
        <label>Set Other File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>otherCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Classify_File_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Unreadable_Entry</name>
        <label>Build Unreadable Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>curUnreadableEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUnreadableEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Has_Unreadable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Summary</name>
        <label>Build Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasAttachments</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attachmentSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAttachmentSummary</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_there_any_docs</name>
        <label>Are there any docs?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_No_Attachments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No docs</defaultConnectorLabel>
        <rules>
            <name>Yes_docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcContentDocLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Doc_Links</targetReference>
            </connector>
            <label>Yes docs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_File_Type</name>
        <label>Check File Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Other_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Is_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Classify_File_Types.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_PDF</targetReference>
            </connector>
            <label>PDF</label>
        </rules>
        <rules>
            <name>Is_Word_or_Excel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Classify_File_Types.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WORD_X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Classify_File_Types.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXCEL_X</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Classify_File_Types.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POWER_POINT_X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Unreadable_Entry</targetReference>
            </connector>
            <label>Word / Excel / PowerPoint</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fUnreadableEntry</name>
        <dataType>String</dataType>
        <expression>{!Classify_File_Types.Title} &amp; &quot; (&quot; &amp; {!Classify_File_Types.FileType} &amp; &quot;), &quot;</expression>
    </formulas>
    <formulas>
        <name>fAttachmentSummary</name>
        <dataType>String</dataType>
        <expression>TEXT({!pdfCount}) &amp; &quot; PDF(s), &quot; &amp; TEXT({!unreadableCount}) &amp; &quot; unreadable file(s), &quot; &amp; TEXT({!otherCount}) &amp; &quot; other file(s)&quot;</expression>
    </formulas>
    <interviewLabel>Case - Check Attachment Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Check Attachment Types</label>
    <loops>
        <name>Loop_Doc_Links</name>
        <label>Loop Doc Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcContentDocLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_curDocLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Classify_File_Types</name>
        <label>Classify File Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcContentDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_File_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Build_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_First_Inbound_Email</name>
        <label>Get First Inbound Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputAssignments>
            <assignToReference>emailMessageId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Attachments</name>
        <label>Get Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailMessageId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>rcContentDocLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Docs</name>
        <label>Get Content Docs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Classify_File_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>tcContentDocIds</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>rcContentDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>FileType</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_Inbound_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Case record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the inbound EmailMessage.</description>
        <name>emailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>curDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>tcContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <description>True if the case has any file attachments.</description>
        <name>hasAttachments</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if at least one PDF attachment is present.</description>
        <name>hasPDFs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>True if at least one Word, Excel, or PowerPoint attachment is present.</description>
        <name>hasUnreadableFiles</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Comma-separated list of unreadable file names and types.</description>
        <name>unreadableFileList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Human-readable summary of attachment counts by type.</description>
        <name>attachmentSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curUnreadableEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pdfCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unreadableCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>otherCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The ContentDocument Id of the first PDF attachment found. Convenience output for single-PDF cases.</description>
        <name>firstPdfId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of ContentDocument Ids for all PDF attachments found. Use for multi-PDF prompt invocations.</description>
        <name>tcAllPdfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
