flows/Case_RT_Flow_Gate1_Order_Detail_Extraction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Case_PDF_Details</name>
        <label>Extract Case &amp; PDF Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Review_Sales_Order_Details</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_with_First_PDF_SO_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_First_PDF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Review_Sales_Order_Details</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Review_Sales_Order</name>
        <label>Review Sales Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Review_Sales_Order_Details</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Case_with_SO_details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Review_Sales_Order_Details</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Attachment_Rules</name>
        <label>Attachment Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Manual_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual Review Required</defaultConnectorLabel>
        <rules>
            <name>No_Attachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHasAttachments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Sales_Order</targetReference>
            </connector>
            <label>No Attachments — Run Prompt on Email Body</label>
        </rules>
        <rules>
            <name>One_PDF_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPdfCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vHasUnreadableFiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_PDF</targetReference>
            </connector>
            <label>Exactly 1 PDF — Run Prompt with File</label>
        </rules>
    </decisions>
    <description>When OCR Complete is checked on a Sales Order case, evaluates attachments and calls Gate1OrderExtractor Apex to invoke the Review_Sales_Order_Details prompt and write shipping fields. Routes to manual review for unsupported file types or multiple attachments.</description>
    <environments>Default</environments>
    <formulas>
        <name>fManualReviewMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Automated extraction skipped. &quot; &amp; IF({!vHasUnreadableFiles}, &quot;Unsupported file type(s) detected: &quot; &amp; {!vUnreadableFileList} &amp; &quot;. &quot;, &quot;&quot;) &amp; IF({!vPdfCount} &gt; 1, &quot;Multiple PDF attachments found (&quot; &amp; TEXT({!vPdfCount}) &amp; &quot; PDFs). &quot;, &quot;&quot;) &amp; &quot;Please review the attachments and update Shipping Preference and Attention To manually.&quot;</expression>
    </formulas>
    <interviewLabel>Case RT Flow - Gate 1 Order Detail Extraction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case RT Flow - Gate 1 Order Detail Extraction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_First_PDF</name>
        <label>Get First PDF ContentDocument</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Case_PDF_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFirstPdfId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FileType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Manual_Review</name>
        <label>Update Case — Manual Review Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gate1_Notes__c</field>
            <value>
                <elementReference>fManualReviewMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gate1_Status__c</field>
            <value>
                <stringValue>Manual Review Required</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_SO_details</name>
        <label>Update Case with SO details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Attention_To__c</field>
            <value>
                <elementReference>Review_Sales_Order.structuredResponse.attentionTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gate1_Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>Review_Sales_Order.structuredResponse.shipToAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Preference__c</field>
            <value>
                <elementReference>Review_Sales_Order.structuredResponse.shippingPreference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_First_PDF_SO_Details</name>
        <label>Update with First PDF SO Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Attention_To__c</field>
            <value>
                <elementReference>Extract_Case_PDF_Details.structuredResponse.attentionTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gate1_Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>Extract_Case_PDF_Details.structuredResponse.shipToAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Preference__c</field>
            <value>
                <elementReference>Extract_Case_PDF_Details.structuredResponse.shippingPreference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Attachment_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCR_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Classification_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Order</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Attachment_Check</name>
        <label>Run Attachment Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Attachment_Rules</targetReference>
        </connector>
        <flowName>Case_Check_Attachment_Types</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vAttachmentSummary</assignToReference>
            <name>attachmentSummary</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFirstPdfId</assignToReference>
            <name>firstPdfId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vHasAttachments</assignToReference>
            <name>hasAttachments</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vHasPDFs</assignToReference>
            <name>hasPDFs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vHasUnreadableFiles</assignToReference>
            <name>hasUnreadableFiles</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPdfCount</assignToReference>
            <name>pdfCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tcAllPdfIds</assignToReference>
            <name>tcAllPdfIds</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUnreadableCount</assignToReference>
            <name>unreadableCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUnreadableFileList</assignToReference>
            <name>unreadableFileList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>firstPdfId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>tcAllPdfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAttachmentSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstPdfId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHasAttachments</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vHasPDFs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vHasUnreadableFiles</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vPdfCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vUnreadableCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vUnreadableFileList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
